<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        5-day forecast for {{ forecastData.city.name }}
      </h3>
    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item" *ngFor="let item of forecastData.list">
        <!-- Monday, Mar 23: Rain - Min: 45 - Max: 59 -->
        Temp: {{ item.main.temp | kelvinToCelsius }} -
        {{ item.weather[0].description }} - Min:
        {{ item.main.temp_min | kelvinToCelsius }} - Max:
        {{ item.main.temp_max | kelvinToCelsius }}
        <img class="icon" [src]="getWeatherIconUrl(item.weather[0].main)" />
      </li>
    </ul>
  </div>
  <button
    class="btn btn-success"
    tabindex="0"
    id="mainPageBtn"
    [routerLink]="['/']"
    queryParamsHandling="preserve"
  >
    &lt; Back to main page
  </button>
</div>
