<h4>Template for main page:</h4>
<div class="container-fluid">
  <form
    [formGroup]="weatherSearchForm"
    (ngSubmit)="sendData(weatherSearchForm.value)"
  >
    <div class="form-group">
      <h2>Enter a zipcode:</h2>
      <input
        class="form-control"
        placeholder="Zipcode"
        type="text"
        id="addLocation"
        formControlName="location"
      />
      <br />
      <button class="btn btn-primary" id="addLocationBtn" type="submit">
        Add location
      </button>
    </div>
  </form>
  <div *ngFor="let forecast of forecasts">
    <div class="well flex">
      <div>
        <h3>{{ forecast.city.name }}</h3>
        <h4>
          Current conditions: {{ forecast.list[0].weather[0].description }}
        </h4>
        <h4>Temperatures today:</h4>
        <p>
          Current
          {{ forecast.list[0].main.temp | kelvinToCelsius }} - Max:
          {{ forecast.list[0].main.temp_max | kelvinToCelsius }} - Min:
          {{ forecast.list[0].main.temp_min | kelvinToCelsius }}
        </p>
        <p>
          <a
            [routerLink]="['/future']"
            [queryParams]="{ cityName: forecast.city.name }"
          >
            >Show 5-day forecast for {{ forecast.city.name }}</a
          >
        </p>
      </div>
      <div>
        <span class="close">×</span>
        <!-- <img src="https://www.angulartraining.com/images/weather/sun.png" /> -->
        <img [src]="getWeatherIconUrl(forecast.list[0].weather[0].main)" />
      </div>
    </div>
  </div>
</div>
