<h4>Template for main page:</h4>
<div class="container-fluid">
  <form
    [formGroup]="weatherSearchForm"
    (ngSubmit)="sendData(weatherSearchForm.value)"
  >
    <div class="form-group">
      <h2>Enter a zipcode:</h2>
      <input
        class="form-control"
        placeholder="Zipcode"
        type="text"
        id="addLocation"
        formControlName="location"
      />
      <br />
      <button class="btn btn-primary" id="addLocationBtn" type="submit">
        Add location
      </button>
    </div>
  </form>
  <div>
    <div *ngIf="weatherData.city" class="well flex">
      <div>
        <h3>{{ weatherData.city.name }}</h3>
        <h4>
          Current conditions: {{ weatherData.list[0].weather[0].description }}
        </h4>
        <h4>Temperatures today:</h4>
        <p>
          Current
          {{
            convertKelvinToCelsius(weatherData.list[0].main.temp).toFixed(0)
          }}°C - Max:
          {{
            convertKelvinToCelsius(weatherData.list[0].main.temp_max).toFixed(
              0
            )
          }}°C - Min:
          {{
            convertKelvinToCelsius(weatherData.list[0].main.temp_min).toFixed(
              0
            )
          }}°C
        </p>
        <p>
          <a routerLink="/future"
            >Show 5-day forecast for {{ weatherData.city.name }}</a
          >
        </p>
      </div>
      <div>
        <span class="close">×</span>
        <!-- <img src="https://www.angulartraining.com/images/weather/sun.png" /> -->
        <img [src]="getWeatherIconUrl(weatherData.list[0].weather[0].main)" />
      </div>
    </div>
  </div>
</div>
